.App {
  text-align: center;
}

.App-header {
  background-color: #034;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chef-img{
    padding-right: 8px;
    margin-right: 10px;
    border-radius: 50%;
}

.company-name{
  font-family: cursive;
  color: #FFF;
  font-weight: bolder;
  font-size: 2em;
}
.modal-title, .modal-body {
    color: black;
}

.inputName, .inputEmail, .inputPswrd{
  text-align: left;
}
#inputName, #inputEmail, #inputPswrd{
      height: 50px;
}
